{{- if eq .chezmoi.os "darwin" -}}
font-family = "JetBrainsMono Nerd Font"
font-style = "SemiBold"
font-style-italic = "SemiBold Italic"
font-style-bold = "ExtraBold"
font-style-bold-italic = "ExtraBold Italic"

background-opacity = 0.9
theme = Vague
macos-titlebar-style = hidden
window-padding-x = 14
window-padding-y = 14
font-size = 16
macos-option-as-alt = left
background-blur = 40
confirm-close-surface = false

keybind="cmd+c=copy_to_clipboard"
mouse-hide-while-typing = true
scrollback-limit = 1000000

command = /opt/homebrew/bin/fish

keybind = global:cmd+slash=toggle_quick_terminal
quick-terminal-position = bottom
quick-terminal-animation-duration = 0
{{- end -}}
